# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.log

# Virtual Environment
.venv/
env/
venv/
ENV/

# Santander Raw Datasets & Archives (>100MB)
data/raw/
santander-product-recommendation/
data/santander-product-recommendation/
*.zip
*.csv

# Processed Spark / Parquet outputs
data/processed/
output/
data/output/
data/data_pull/
*.parquet
*.crc
_SUCCESS

# IDEs & OS Files
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
